.title {

position: absolute;
width: 218px;
height: 26px;
left: 59px;
top: 225px;

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
text-align: center;
font-feature-settings: 'kern' off;

color: #000000;
}

.subtitle {
position: absolute;
width: 218px;
height: 26px;
left: 59px;
top: 259px;

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 17px;
text-align: center;
font-feature-settings: 'kern' off;

color: #000000;
}

.little {
position: absolute;
width: 135px;
height: 172px;
left: 101px;
top: 39px;
}

.large {
position: absolute;
width: 938px;
height: 1188px;
left: 270px;
top: -130px;
}

@media(max-width: 1023px){

	.little,
	.title,
	.subtitle,
	.large {
	    position: relative;
	    top: unset;
	    left: unset;
	    text-align: center;
	    margin: auto;
	}

	.little {
		width: 30vw;
    	height: auto;
	}

	.title {
		font-size: 3em;
	    width: unset;
	    height: unset;
	}

	.subtitle {
	    width: unset;
	    height: unset;
	    font-size: 1.6em;
	    line-height: 2em;
	}


	.mini-div-logo {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin-top: 39px;
	}

	.mini-div-titles {
		margin-top: 14px;
	}
	.large {
	width: 170%;
    height: 125%;
    position: fixed;
    left: -35%;
	}
}